/*禁用 Scroll*/
body
{
    overflow-x: hidden;
    overflow-y: hidden;
}

/*自己的CSS*/
.root-layout
{
    display: flex;
    flex-direction: column;
}

.root-layout-header
{
    display: flex;
    flex-direction: row;
    background-color: #018e53;
    z-index: 1;
}

.root-layout-content-section
{
    display: flex;
    flex-direction: row;
    background-color: khaki;
    z-index: 1;
}

.root-layout-content-main
{
    background-color: gray;
    z-index: 0;
}