/*禁用 Scroll*/
body
{
    overflow-x: hidden;
    overflow-y: hidden;
}

/*自己的CSS*/
.root-layout
{
    display: flex;
    flex-direction: column;
}

.root-layout-header
{
    display: flex;
    flex-direction: row;
    background-color: #018e53;
    z-index: 1;
}

.root-layout-content-section
{
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.root-layout-content-aside
{
    background-color: white;
}

.root-layout-content-leftaside
{
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    position: relative;
}

.root-layout-content-leftaside-navigatordiv
{
    background-color: gray;
    position: absolute !important;
    bottom: 0px; 
    right: 0px;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
}

.root-layout-content-rightaside
{
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
}

.root-layout-content-main
{
    background-color: gray;
    z-index: 0;
}